@mixin scss-triangle($size1, $size2, $direction, $color) {
    width: 0;
    height: 0;
    content: "";

    @if $direction == up {
        border-left: $size1 solid transparent;
        border-right: $size1 solid transparent;
        border-bottom: $size2 solid $color;
    }
    @if $direction == down {
        border-left: $size1 solid transparent;
        border-right: $size1 solid transparent;
        border-top: $size2 solid $color;
    }
    @if $direction == right {
        border-top: $size1 solid transparent;
        border-bottom: $size1 solid transparent;
        border-left: $size2 solid $color;
    }
    @if  $direction == left {
        border-top: $size1 solid transparent;
        border-bottom: $size1 solid transparent;
        border-right: $size2 solid $color;
    }
    @if $direction == top-right {
        border-bottom: $size2 solid transparent;
        border-left: $size1 solid transparent;
        border-top: $size2 solid rgba(var(--color_35), 1);
        border-right: $size1 solid rgba(var(--color_35), 1);
    }
    @if $direction == down-right {
        border-top: $size2 solid transparent;
        border-left: $size1 solid transparent;
        border-bottom: $size2 solid rgba(var(--color_35), 1);
        border-right: $size1 solid rgba(var(--color_35), 1);
    }
    @if $direction == top-left {
        border-bottom: $size2 solid transparent;
        border-right: $size1 solid transparent;
        border-top: $size2 solid rgba(var(--color_35), 1);
        border-left: $size1 solid rgba(var(--color_35), 1);
    }
    @if  $direction == down-left {
        border-top: $size2 solid transparent;
        border-right: $size1 solid transparent;
        border-bottom: $size2 solid rgba(var(--color_35), 1);
        border-left: $size1 solid rgba(var(--color_35), 1);
    }
}

@mixin scss-square($size, $color) {
    width: 0;
    height: 0;
    content: "";
    border: $size solid $color;
}

@mixin scss-circle($size, $color) {
    @include scss-square($size, $color);
    border-radius: 50%;
}